.post-details {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    gap: 5rem;
    margin-right: -28%;
    height: 80vh;
}
.media-details {
    width: 100%;
}

.iframe-detail {
    width: 100%;
    height: 80vh;
    outline: none;
    border: none;
}

.webpage-details {
    outline: none;
    border: none;
    max-width: 1280px;
    width: 1280px;
    height: 720px;
    overflow-y: auto;
}