:root {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1E1E1E;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #1E1E1E;
  text-decoration: none;
  transition: .2s linear;
}

a:hover{
  color: blue;
  transition: .2s linear;
}

h1 {
  font-weight: 100;
}

@media screen and (max-width: 480px) {
    
  :root {
    overflow-x: hidden;
  }
}