.post-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    place-content: center;
}

.col {
    border: 1px solid #2c2c2c;
    margin-bottom: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    width: 30rem;
    height: 30rem;
}

.media {
    width: 15rem;
    height: 20rem;
    outline: none;
    border: none;
}

.media-text {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.post-title {
    font-size: 1.2rem;
}

@media screen and (max-width: 480px) {
    .col {
        width: 8rem;
        margin-bottom: 2rem;
        margin-right: -1rem;
    }

    h2 {
        font-size: .8rem;
    }

    p {
        font-size: .5rem;
    }
    
    iframe {
        width: 100% ;
        height: 10rem;
    }
}